
/* 공통 스타일 */
/* 버튼 */
.btn {
    display: inline-block;
    padding: 20px 30px;
    box-sizing: border-box;
    background-color: var(--sub);
    color: var(--white);
    margin: 30px auto 0;
    border-radius: 30px;
    box-shadow: 5px 5px rgba(100, 100, 100, 0.8);
}

/* 섹션별 타이틀 */
.section-title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 30px;
}

.info {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
}

span {color: var(--main);}

/* 헤더 */
header {
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0;
    background-color: var(--white);
    border-bottom: 1px solid var(--gray);
    z-index: 20;
}

header .inner {
    width: 100%;
    height: 100%;
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

/* 헤더- 로고 */
header .inner .logo-box {}
header .inner .logo-box .logo {
    display: block;
    width: 158px;
    height: 70px;
    background: url(../img/logo.svg) 50% 50% / 158px 40px no-repeat;
    text-indent: -9999px;
}

/* 헤더 - 메뉴 */
header .inner .gnb {margin-left: 30px;}
header .inner .gnb nav {margin-top: 5px;}
header .inner .gnb nav ul {display: flex;}
header .inner .gnb nav ul li {margin-right: 30px;}
header .inner .gnb nav ul li a {
    display: block; font-size: 1.2rem; line-height: 1.2rem;
    color: black; font-weight: 700;
}
header .inner .gnb nav ul li a {
    display: block; font-size: 1.2rem; line-height: 1.2rem;
    color: black; font-weight: 700;
}
header .inner .gnb nav ul li a:hover {color: var(--main);}

/* 헤더 - 유틸 */
header .inner .util {display: flex; justify-content: flex-end; margin-left: 70px;}
header .inner .util .util-left {font-size: 15px;}
header .inner .util .util-left ul {display: flex; align-items: center;}
header .inner .util .util-left ul li {margin-right: 15px; line-height: 20px;}
header .inner .util .util-left ul li a {font-weight: 600;}
header .inner .util .util-left ul li a.point {color: var(--main);}

header .inner .util .util-right {font-size: 16px; line-height: 20px;}
header .inner .util .util-right a.join {margin-right: 15px;}
header .inner .util .util-right a.login {
    padding: 10px 15px;
    background-color: var(--main);
    border-radius: 12px;
    color: white;
}

/* 섹션: main */
section.main {
    width: 100%;
    height: 100vh;
    min-height: 815px;
    max-height: 815px;
    background: url(../img/img_mainvisual_bg.png) no-repeat center;
    position: relative;
}
section.main .main-title {
    margin: 50px auto;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    text-align: center;
}

section.main .main-title .title {font-size: 52px;}
section.main .main-title .sub-title {font-size: 24px;}

/* 섹션: main - 라면 슬라이드 */
.ramen-slide {position: absolute; left: 50%;}
#ramen-slide01 {bottom: 30%; transform: translateX(-50%);}
#ramen-slide02 {bottom: 30%; transform: translate(-50%, 100%);}

.ramen-slide .slide {display: flex; justify-content: center;}
.ramen-slide .slide li {
    width: 180px;
    height: 180px;
    background-color: var(--white);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: 10px 5px;
}
.ramen-slide .slide li img {
    width: 160px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* 섹션: main - 캐릭터 */
section.main .img-box {
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%);
    width: 300px;
    z-index: 10;
}
section.main .img-box img {width: 100%;}

/* 섹션: intro */
section.intro {
    min-height: 700px;
    background-color: #eee;
    text-align: center;
    padding: 100px 0;
}

/* 섹션: recommend */
section.recommend {
    text-align: center;
    padding: 120px 0;
}

section.recommend .slide-box {
    width: 1440px;
    margin: 100px auto;
}
section.recommend .slide-box ul {
    display: flex;
}
section.recommend .slide-box ul li {
    position: relative;
    width: calc(100%/3);
}
section.recommend .slide-box ul li .label {
    padding: 16px 28px;
    background-color: var(--sub);
    border-radius: 38px;
    color: var(--white);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 160px;
}
section.recommend .slide-box ul li .content-box {
    margin-top: 50px;
    padding: 20px 10px;
    box-sizing: border-box;
}
section.recommend .slide-box ul li .content-box p {
    font-size: 20px;
}

/* 섹션: about */
section.about {
    min-height: 1800px;
    padding: 120px 0;
    box-sizing: border-box;
}

section.about .inner {
    width: 100%;
    min-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

section.about .inner .about-list {position: relative;}
section.about .inner .about-list .img-box {
    position: absolute;
    top: 0;
    right: 30px;
    width: 300px;
    height: 300px;
    z-index: -1;
}
section.about .inner .about-list .card-box {
    width: calc(50%-40%);
    background-color: var(--bg-light);
    max-width: 600px;
    height: 600px;
    padding: 50px 50px 0 50px;
    border-radius: 50px;
    position: relative;
    margin-top: 80px;
}
section.about .inner .about-list .card-box.left {
    float: left;
}
section.about .inner .about-list .card-box.right {
    float: right;
    top: 120px;
}

section.about .inner .about-list .card-box.box1 {
    background-color: url(../img/img_about_bg01.png) bottom center/100% no-repeat;
    background-color: var(--bg-light);
}
section.about .inner .about-list .card-box.box2 {
    background-color: url(../img/img_about_bg02.png) bottom center/100% no-repeat;
    background-color: var(--bg-light);
}
section.about .inner .about-list .card-box.box3 {
    background-color: url(../img/img_about_bg03.png) bottom center/100% no-repeat;
    background-color: var(--bg-light);
}
section.about .inner .about-list .card-box.box4 {
    background-color: url(../img/img_about_bg04z.png) bottom center/100% no-repeat;
    background-color: var(--bg-light);
}

section.about .about-title {
    font-size: 36px;
    line-height: 40px;
}
section.about .about-info {
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--main);
}
.btn-more {
    display: block;
    width: 38px;
    height: 38px;
    line-height: 25px;
    padding: 10px;
    background-color: black;
    color: var(--white);
    font-size: 30px;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right: 50px;
}


/* 섹션: review */
section.review {
    text-align: center;
    padding: 120px 0;
    background-color: var(--peach-orange);
    box-sizing: border-box;
    min-height: 800px;
}
section.review .card-list {
    display: flex;
    justify-content: center;
}
section.review .card-list ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
section.review .card-list .card-box {
    width: 310px;
    height: 480px;
    border-radius: 30px;
    overflow: hidden;
}
section.review .card-list .card-box .img-box {
    width: 100%;
    height: 240px;
}
section.review .card-list .card-box .img-box img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}
section.review .card-list .card-box .content {
    width: 100%;
    height: 240px;
    background-color: var(--white);
}
section.review .card-list .card-box .content .inner {
    padding: 20px;
}
section.review .card-list .card-box .content .inner .review-name {
    text-align: left;
    margin-bottom: 10px;
}
section.review .card-list .card-box .content .inner .review-content {
    font-size: 12px;
    text-align: left;
    color: gray;
}
section.review .card-list .card-box .content .inner a {
    display: block;
    font-size: 12px;
    text-align: left;
    color: gray;
}
section.review .card-list .card-box .content .inner .sub-title {
    font-size: 12px;
    text-align: left;
    color: var(--main);
}
section.review .card-list .card-box .content .inner .sub-content {
    font-size: 10px;
    text-align: left;
    color: gray;
}
section.review .card-list .card-box .content .inner .date {
    font-size: 10px;
    text-align: right;
    color: gray;
}



/* 반응형 */
.pc {display: block !important;}
.pc-felx {display: flex !important;}
.mobile {display: none !important;}

@media screen and (max-width: 600px) {
    .pc {display: none !important;}
    .pc-felx {display: none !important;}
    .mobile {display: block !important;}
}