
* {box-sizing: border-box;}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

body {text-align: center;}

header, footer {width: 100%;}
nav, section {float: left; height: 700px;} /* 높이는 상관 없음 */

nav {width: 20%; margin-right: 0.5%;}
section {width: 78.5%;}

footer {clear: both;}

header, nav, section, footer {
    padding: 20px 0;
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 10px;
}