* {box-sizing: border-box;}

/* 모바일 */
.wrapper {
    width: 400px;
    margin: 0 auto;
}

body {text-align: center;}

header, footer {width: 400px;}
nav, section {width: 400px; height: 400px;}

footer {clear: both;}

header, nav, section, footer {
    padding: 20px 0;
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 10px;
}

/* 태블릿 - 800px 이상일 때 */
@media screen and (min-width: 800px) {
    .wrapper {width: 640px;}
    header, footer  {width: 640px;}
    nav, section {float: left;}
    nav {width: 135px; margin-right: 10px;}
    /* 640 - 135 - 110 =\ 495 */
    section {width: 495px;}
    footer {clear: both;}
}

/* PC - 1000px 이상일 때 */
@media screen and (min-width: 1000px) {
    .wrapper {width: 960px;}
    header, footer  {width: 960px;}
    nav {width: 200px;}
    section {width: 750px;}
}