
.container {
    width: 1200px;
    margin: 0 auto;
    border: 3px dashed orange;
}

/* flex container */
.flex-container {
    display: flex; /* flex 컨테이너로 지정 */
    border: 1px solid lightcoral;
}

.item {
    width: 100px;
    height: 100px;
    margin: 20px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    background-color: cornflowerblue;
    color: white;
    box-sizing: border-box;
}

/* flex-direction */
.row {flex-direction: row;}
.column {flex-direction: column;}
.row-reverse {flex-direction: row-reverse;}
.column-reverse {flex-direction: column-reverse;}

/* flex-wrap */
.nowrap {flex-wrap: nowrap;}
.wrap {flex-wrap: wrap;}
.wrap-reverse {flex-wrap: wrap-reverse;}

/* flex-flow */
.row-wrap {
    flex-flow: row wrap; /* 단축속성 */
    /* flex-direction: row;
    flex-wrap: wrap; */
}

/* justify-content */
/* : 추축의 정렬방식을 지정하는 속성 */
.center {justify-content: center;}
.start {justify-content: flex-start;}
.end {justify-content: flex-end;}
.between {justify-content: space-between;}
.around {justify-content: space-around;}
.evenly {justify-content: space-evenly;}


/* 교차축 */
.cross {height: 600px;}

/* align-content} */
.content-stretch {align-content: stretch;}
/* stretch - 적용될 item의 width/height가 auto여야 적용된다. */
.content-stretch .item {height: auto;}

.content-start {align-content: flex-start;}
.content-end {align-content: flex-end;}
.content-center {align-content: center;}
.content-between {align-content: space-between;}
.content-around {align-content: space-around;}


/* align-items */
.cross-center {align-items: center;}
.cross-start {align-items: flex-start;}
.cross-end {align-items: flex-end;}
.cross-stretch {align-items: stretch;}
.cross-stretch .item {height: auto; line-height: 100px;}
.cross-baseline {align-items: baseline;}

/* 정가운데 (수평 가운데 / 수직 가운데) */
.center-center {
    height: 600px;
    justify-content: center;
    align-items: center;
}

.center-center .item {font-size: 14px;}