@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Sans+KR&display=swap');
/* 폰트 
    1. Noto Sans
        font-family: 'Noto Sans KR', sans-serif;
    2. Nanum Myeongjo
        font-family: 'Nanum Myeongjo', serif;
*/

/* reset */
/* : 태그들이 가진 기본 스타일 속성을 초기화 한다. */
* {margin: 0; padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
a {color: inherit; text-decoration: inherit;}
li {list-style-type: none;}
img {vertical-align: middle;}

/* 레이아웃 */
body {
    font-family: 'Noto Sans Kr', sans-serif; /* 전체 */
    font-size: 16px;
    color: #7e7e72;
}

.font {font-family: 'Nanum Myeongjo', serif;} /* 강조는 따로 class 지정해둠 + html에서 추가 */
.wrap {width: 100%; margin: 0 auto; overflow: hidden;}

/* 헤더 */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 53px;
    z-index: 1;
    background-color: #c59f8b;
    overflow: hidden;
}

header nav ul li {
    float: left; /* 가로 배치 */
    display: block;
    text-align: center;
    padding: 14px 16px;
    margin-right: 30px;
}
header nav ul li a {color: #f2f2f2; font-size: 17px;}

header nav ul li:hover {background-color: #ddd;}
header nav ul li:hover a {color: black;}

/* 섹션 - visual */
section.visual {width: 100%; position: relative; margin-top: 53px;}
section.visual img {width: 100%;}

/* 이미지 위의 텍스트 영역 */
section.visual .mainTitle {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
}

section.visual .mainTitle h2 {
    font-size: 68px;
    letter-spacing: -3px;
    text-transform: uppercase;
    margin: 10px;
}
section.visual .mainTitle h2 span {
    font-size: 50px;
    color: #ff7777;
}
section.visual .mainTitle p {
    font-size: 19px;
    color: #f9f9f9;
}

/* inner */
.inner {
    width: 1050px; margin: 0 auto;
}

/* 섹션 - routine */
section.routine {width: 100%; padding: 100px 0;}
section.routine .inner {overflow: hidden;}
section.routine .inner .title {
    text-align: center;
    color: #1b3413;
}

/* 타이틀 전체 */
section.routine .inner .title h2 {
    font-size: 50px;
    line-height: 1.4;
    margin-bottom: 20px;
}
section.routine .inner .title h2 span {
    display: block;
    font-size: 25px;
    margin-bottom: 20px;
}
section.routine .inner .title p {
    font-size: 20px;
    font-weight: bold;
    color: #575757;
    display: inline-block;
    margin-bottom: 80px;
    padding: 0 20px;
    position: relative;
}

/* 가상 선택자를 이용한 구분선 */
section.routine .inner .title p::before {
    content: '';
    width: 1.5px;
    height: 18px; /* 선의 크기 만들어주기 */
    background-color: #575757;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
}

section.routine .inner .title p::after {
    content: '';
    width: 1.5px;
    height: 18px;
    background-color: #575757;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

/* 왼쪽 이미지 영역 */
section.routine .inner p.img {width: 50%; float: left;}
section.routine .inner p.img img {width: 100%;}

/* 오른쪽 리스트 영역 */
section.routine .inner ul {
    width: 50%;
    float: right;
    padding-left: 100px;
    box-sizing: border-box; /* padding 줄 때 항상 고려할 것 */
}

section.routine .inner ul li {
    margin-bottom: 30px;
    line-height: 1.4;
    padding-left: 70px;
    position: relative;
}

section.routine .inner ul li h3 {
    font-size: 24px;
    color: #222;
    font-weight: normal;
    margin-bottom: 10px;
}

/* 리스트의 숫자번호 추가 */
section.routine .inner ul li::before {
    content: '1';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 50px;
    color: #6f8068;
    font-family: 'Nanum Myeongjo', serif;
}

section.routine .inner ul li:nth-child(2)::before {
    content: '2';
}

section.routine .inner ul li:nth-child(3)::before {
    content: '3';
}


/* 섹션 - problems */
section.problems {
    width: 100%;
    padding: 80px 0; /* 섹션 사이 간격 padding으로 지정 - margin 상쇄 피함 */
    text-align: center;
    background-color: #f9f9f9;
}

section.problems .inner .title {
    margin-bottom: 30px;
    color: #333;
}
section.problems .inner .title h2 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
section.problems .inner .title p {
    font-size: 20px;
}

section.problems .inner ul {width: 100%; overflow: hidden;}
section.problems .inner ul li {
    float: left; /* 가로 배치 */
    width: calc(100%/4);
    text-align: center;
}
section.problems .inner ul li .icon {
    margin-bottom: 20px;
}
section.problems .inner ul li h3 {
    font-size: 14px;
    font-weight: 400;
}


/* 섹션 - detail */
section.detail {
    width: 100%;
    padding: 88px 0;
}

section.detail .inner h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
}
section.detail .inner table {
    width: 100%;
    border-top: 1px solid #eee;
}

section.detail .inner table td {
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    width: 350px;
}
section.detail .inner table td.title {
    background-color: #f9f9f9;
    width: 175px;
    text-align: center;
}

/* footer */
footer {
    background-color: #99735f;
    color: white;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    font-size: 12px;
}


/* section 아래 inner 만들기 - 컨텐츠 가운데로, 1050,1040px 일반적 */
/* position: absolute 위치 정하기 */
/* 왼쪽, 오른쪽 반반 공간 나눠 갖기 - width: 50%; float: left/right; */
/* margin 조절 */
/* 가상 선택자 */
/* list 사용, 가로배치 */