@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


/*reset*/
* {margin: 0; padding: 0; box-sizing: border-box; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {text-decoration: inherit; color: inherit;}
li {list-style: none;}
img {vertical-align: middle;}
a img {border: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: #000;
    line-height: 1.4;
}

header {
    width: 100%; height: 100px; padding: 0 40px; box-sizing: border-box;
    line-height: 100px; color: #fff; background-color: rgba(96, 77, 62, 0.3);
    position: fixed; top: 0; z-index: 100;
}

header .menuOpen {
    display: inline-block; /* a 태그는 inline 요소 */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 16px;
    line-height: 100px;
}

header .menuOpen span {
    display: block;
    width: 80%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}

header .menuOpen span.mid {top: 50%;}
header .menuOpen span.bot {top: 100%;}

header .title {
    display: inline-block;
    float: left;
    margin-left: 70px;
    height: 100%;
    font-size: 25px;
}

/* 언어 선택 */
header .langs {
    float: left;
    margin-left: 220px;
    overflow: hidden;
    width: 150px;
}

header .langs li {float: left; width: 50%;}
header .langs li:nth-child(1) {font-weight: bold;}
header .langs li:nth-child(2) {color: #ddd;}
header .langs li a {
    display: block;
    padding: 0 30px;
    box-sizing: border-box;
    text-transform: uppercase;
}

header .right {float: right;}
header .right li {float: left;}
header .right li p {letter-spacing: 1px;}

section.visual img {width: 100%;}