* {margin: 0; padding: 0;}

.header {
    padding: 60px;
    text-align: center;
    background-color: #1abc9c;
    color: white;
    font-size: 30px;
}

header {
    position: sticky;
    top: 0;
    background-color: deeppink;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header ul {list-style-type: none; padding: 0;}
header ul li {
    display: inline-block;
    max-lines: 16px;
    font-size: 18px;
    font-weight: bold;
}

section {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    background-color: cornflowerblue;
    border: 3px solid black;
}