
.container {
    width: 1200px;
    margin: 0 auto;
    border: 3px dashed hotpink;
    margin-bottom: 500px;
    padding-bottom: 500px;
}

/* grid */
.grid_container {
    display: grid;
    border: 1px solid lightcoral;
}

.item {
    width: calc(100%-20px);
    height: calc(100%-20px);
    margin: 20px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    line-height: 1;
    background-color: cornflowerblue;
    color: white;
    box-sizing: border-box;
}

/* grid-template-rows */
.rows-px {grid-template-rows: 100px 200px 300px;}
.rows-fr {grid-template-rows: 1fr 2fr 1fr;}
.rows-mix {grid-template-rows: 1fr 2fr 100px;}
.rows-name {grid-template-rows: [row1] 100px [row2] 150px [row3] 200px;}
.rows-repeat {grid-template-rows: repeat(3, 200px);}